.map-picker {
    
}
    .map-picker-button {
        width: 150px;
        margin-bottom: $grid-s;
        opacity: $default-opacity-not-selected;
        .is-selected & {
            opacity: 1;
        }
    }