.battle-view {
    background: $background-color;
    width: 100vh;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

.battle-view-finished {
    background: rgba($background-color, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    color: white;
}
