.button {
    border: 0;
    outline: 0;
    padding: $grid-s $grid-m;
    text-align: left;
    width: 300px;
    font-size: $grid-l;
    background: $palette-base-2;
    cursor: pointer;
    color: $palette-contrast;
    &:hover {
        background: $palette-base-3;
    }

    &[disabled=disabled] {
        opacity: 0.1;
    }
}