.button {
    border: 0;
    outline: 0;
    padding: $grid-s $grid-m;
    text-align: left;
    width: 300px;
    font-size: $grid-l;
    background: rgba($blackish, 0.1);
    cursor: pointer;
    color: $red-orange;
    text-align: center;
    border: 2px solid $red-orange;
    font-family: '28_days_laterregular' 'Helvetica';
    &:hover {
        color: $whitish;
    }

    &[disabled=disabled] {
        opacity: 0.1;
    }
}