$background-color: #25282A;

$node-color: #978C87;
$node-size: 50px;
$node-z-index: 20;
$node-selected-z-index: 10;
$node-inner-z-index: 15;

$tunnel-color: $node-color;
$tunnel-width: 20px;
$tunnel-z-index: 10;

$army-color: black;
$army-size: 40px;
$army-z-index: 20;

// $palette-base: #CAD78C;
// $palette-base-2: #A8B17A;
// $palette-base-3: #929774;
// $palette-contrast: #443338;
// $palette-contrast-2: #907743;

$red-orange: #bb2e12;
$blackish: #0e0b02;
$whitish: #f7f7f5;
$greenish: #606C38;
$blueish: 235789;

$palette-base: #2E272E;
$palette-base-2: #4F4A5E;
$palette-base-3: #73839B;
$palette-contrast: #E1EBE6;
$palette-contrast-2: #97D0E9;