$background-color: #25282A;

$node-color: #978C87;
$node-size: 50px;
$node-z-index: 20;
$node-selected-z-index: 10;
$node-inner-z-index: 15;

$tunnel-color: $node-color;
$tunnel-width: 20px;
$tunnel-z-index: 10;

$army-color: black;
$army-size: 40px;
$army-z-index: 20;