.main-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}
.main-title {
    font-size: 40px;
    margin: 40px;
}
.main-play-button {
    display: block;
    margin: 40px;
}
