.main-menu {
    text-align: center;
    color: $whitish;
}
    .main-menu-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: url('../assets/images/grunge.svg');
        background-size: cover;
        opacity: 0.1;
    }
    .main-menu-content {
        z-index: 2;
        position: relative;
    }
.main-title {
    font-size: 80px;
    margin: 2*$grid-l;
    color: $red-orange;
}
.main-screen-battle-config {
    display: flex;
    max-width: 950px;
    margin: 0 auto;

    battle-preview {
        flex: 1;
    }
}

.main-play-button-container {
    margin: 2*$grid-l;
    text-align: right;
}
    .main-play-button {
        font-size: 2*$grid-l;
    }
.main-go-to-trainer-button {
    position: absolute;
    top: $grid-m;
    right: $grid-m;
    border: 0;
    font-size: 14px;
    width: auto;
}
