.main-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: $whitish;
    background: $blackish;
}
.main-title {
    font-size: 80px;
    margin: 2*$grid-l;
    color: $red-orange;
}
.main-screen-battle-config {
    display: flex;
    max-width: 650px;
    margin: 0 auto;
    map-picker {
        flex: 1;
    }
    player-picker {
        flex: 1;
    }
}

.main-play-button-container {
    margin: 2*$grid-l;
    text-align: center;
}
    .main-play-button {
        font-size: 2*$grid-l;
    }
.main-go-to-trainer-button {
    position: absolute;
    bottom: $grid-m;
    right: $grid-m;
}
