@mixin node($radius) {
    position: absolute;
    top: 0;
    left: 0;
    height: $radius;
    line-height: $radius;
    width: $radius;
    border-radius: 50%;
    text-align: center;
}

.node {
    background: $node-color;
    @include node($node-size);
    z-index: $node-z-index;
    margin-left: -$node-size/2;
    margin-top: -$node-size/2;
    &.can-be-clicked {
        box-shadow: 0 0 2px blue;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 4px blue;
        }
    }

    &:hover {
        box-shadow: 0 0 4px white;
    }

    &.selected:hover {
        background: lighten($army-color, 25);
    }
}


    .node-owner-strength {
        @include node($node-size);
        box-shadow: 0 0 4px $node-color;
        color: white;
        z-index: $node-inner-z-index;
    }

    .node-partial-owner-strength {
        @include node($node-size);
        box-shadow: 0 0 4px $node-color;
        color: white;
        overflow: hidden;
    }
        .node-partial-owner-strength-inner {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        $node-selection-size: $node-size*1.5;
        .node-selected {
            @include node($node-selection-size);
            background: black;
            color: white;
            z-index: $node-selected-z-index;
            margin-left: -($node-selection-size - $node-size)/2;
            margin-top: -($node-selection-size - $node-size)/2;
        }