.node {
    background: $node-color;
    @include node($node-size);
    z-index: $node-z-index;
    margin-left: -$node-size/2;
    margin-top: -$node-size/2;
    cursor: pointer;
    &.can-be-clicked {
        // box-shadow: 0 0 2px blue;
        // cursor: pointer;
        // &:hover {
        //     box-shadow: 0 0 4px blue;
        // }
    }
}
    $node-owner-size: $node-size*0.8;
    .node-owner-strength {
        @include node($node-owner-size);
        margin: ($node-size - $node-owner-size)/2;
        color: white;
        z-index: $node-inner-z-index;
    }

    .node-partial-owner-strength {
        @include node($node-owner-size);
        margin: ($node-size - $node-owner-size)/2;
        color: white;
        overflow: hidden;
    }
        .node-partial-owner-strength-inner {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }