.player-selector {
    display: inline-flex;
    margin-bottom: $grid-m;
}
    .player-selector-number {
        margin-right: $grid-s;
        padding: $grid-s $grid-m;
        font-size: $grid-l;
        width: 2*$grid-l;
        text-align: left;
    }

    .player-selector-type {
        flex: 1;
    }

        .player-selector-item {
            display: inline-block;
            margin-left: $grid-s;
        }
            .player-selector-button {
                width: auto;
                opacity: 0.7;
                &.is-selected {
                    opacity: 1;
                }
            }

    .ai-selector {
        border: 2px solid $red-orange;
        position: relative;
        top: -2px;
    }
        .ai-selector-item {
            display: block;
            margin-left: $grid-s;
        }
            .ai-selector-button {
                border: 0;
                width: auto;
                opacity: 0.7;
                &.is-selected {
                    opacity: 1;
                }
            }